*{
	padding: 0px;
	margin: 0px;
}
body{
	background: #F0F0F0;
	min-width: 200px;
	font-family: sans-serif;
	font-size: smaller;
}
#menu{
	list-style-type: none;
	padding: 3px;
}
#menu li:not(.separator){
	padding: 2px 5px 2px 5px;
	display: block;
	cursor: default;
}
#menu li:hover:not(.separator){
	outline: 1px solid #C5C5C5;
}
#menu li#perror{
	color: #808080 !important;
}
#menu li.disabled{
	color: #808080 !important;			
}
.separator{
	margin: 5px 0 5px 0;
	height: 1px;
	background: #C5C5C5;
	display: block;
}
input[type="checkbox"]{
	vertical-align: text-top;
	outline: none;
	border: 0;
}
